<nav>
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Forum' %> |
  <%= link_to 'Chatbox' %> |
  <%= link_to 'Members', new_user_session_url %>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

    <% if @programmers != nil %>
      <%= @programmers.name %>
    <% else %>
      <%= "Please create your profile" %>
    <% end %>

    <nav>
      <% if @programmers == nil %>
        <%= link_to 'Create Profile', new_programmer_path %>
      <% else %>
      <%= link_to 'Edit Profile'%>
      <%= link_to 'Show Profile', programmer_path(@programmers) %>
      <% end %>
    </nav>

  <% end %>
</nav>

<nav>
  <%= link_to 'New Post'%>
</nav>
