<nav>
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Forum' %> |
  <%= link_to 'Chatbox' %> |
  <%= link_to 'Members', new_user_session_url %>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

    <% if @programmers == nil %>
      <%= "Please create your profile" %>
      <%= link_to 'Create Profile', new_programmer_path %>
    <% else %>
        <%= @programmers.name %>
        <%= link_to 'Edit Profile'%>
        <%= link_to 'Show Profile', programmer_path(@programmers) %>

        <%= link_to 'New Post', new_post_path%>
      <% end %>
<% end %>


</nav>
