<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 ml-3 mt-3">
        <nav>
          <% if user_signed_in? %>
              <% if @programmer == nil %>
                <%= "Please create your profile" %>
                <%= link_to 'Create Profile', new_programmer_path %>
              <% else %>
                  <%= @programmer.name %>
                  <%= link_to 'Edit Profile', edit_programmer_path(@programmer) %>
                  <%= link_to 'Show Profile', programmer_path(@programmer) %>
                  <%= link_to 'New Post', new_programmer_post_path(@programmer)%>

									<%= link_to 'All Posts', programmer_posts_path(@programmer) %>
                <% end %>
          <% end %>
        </nav>
    </div>
  </div>
</div>
