<%= form_with scope: :programmer, url: programmers_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

    <%= form.label :programmer_levels %><br>
    <%= form.select :programmer_levels, Programmer.programmer_levels.keys %>

    <br><%= form.submit "Create" %>
  </p>
<% end %>
