<%= form_with scope: :programmer, url: programmers_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p>

    <%= form.submit %>
  </p>
<% end %>
