<%= form_with scope: :programmer, url: programmers_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

    <%= form.label :level %>
    <%= form.select(:level, options_for_select([['Rookie', 'Rookie'], ['Expert', 'Expert']]), :include_blank => true) %>

    <br><%= form.submit "Create" %>
  </p>
<% end %>

