<%= stylesheet_link_tag "main_style" %>

<div class="container">
		<div class="row	mt-3">
					<div class="col-sm-6" style="height:100%; width:100%; overflow:hidden">
							<h1>My Profile</h1>
							<div class="card">
									<%= cl_image_tag(@programmer.photo_url, :width => 300, :height => 300) %>
  								<div class="card-body">
    							<h5 class="card-title"><span>I am </span><span><%= @programmer.name %></span></h5>
    							<p class="card-text"><span>Status: </span><span><%= @programmer.level %></span></p>
  								</div>
							</div>



							<div class="row	mt-3">

							</div>
								<button class="btn-lg">
									<%= link_to 'Edit Profile', edit_programmer_path(@programmer) %>
								</button>
								<div class="mt-3">
									<%= link_to 'back', root_path %>
								</div>
					</div>

					<div class="col-sm-6">
								<h1>My Post</h1>
								<ol>
									<% @posts.each do |post| %>
										<li>
											<%= link_to post.post_title, post_path(post.id)%></li>
										<p><%= post.content %></p>
									<% end %>
								</ol>
	  	    </div>
		</div>
</div>
