<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 ml-3 mt-3">
			<h1>Top Questions</h1>
			<ol>
				<% @post.each do |post| %>
					<li><h2>
						<%= link_to post.post_title, programmer_post_path(post.programmer_id,post.id)%></h2></li>
					<p><%= post.content %></p>
					<p class="name-footer"><%=link_to post.programmer.name, programmer_path(@programmer.id), :style =>"color: #222df7" %></p>
					<%= link_to like_post_path(post, @programmer), method: :put do %>
					  <%= image_tag("/images/like.svg", :style => "width: 5%")%>
					  <%= post.get_upvotes.size %>
					<% end %>
					<%= link_to dislike_post_path(post, @programmer), method: :put do %>
					  <%= image_tag("/images/thumbdown.svg", :style => "width: 5%")%>
					  <%= post.get_downvotes.size %>
					<% end %>
					<br/>
				<% end %>
			</ol>
		</div>
	</div>
</div>
