<h1> Create new post</h1>
<%= form_with scope: :post, url: programmer_posts_path, local: true do |form| %>
	<p>
		<%= form.label :content %><br>
		<%= form.text_area :content %>
		<%= form.hidden_field :programmer_id, value:@programmer.id %><br/>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>
