<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 offset-sm-2 mt-3">
			<h1> Create new post</h1>
			<%= form_with scope: :post, url: posts_path, local: true do |form| %>
				<p>
					<%= form.label :post_title %><br>
					<%= form.text_field :post_title %>
				</p>

				<p>
					<%= form.label :content %><br>
					<%= form.text_area :content %>
				</p>
				<p>
					<%= form.submit :class => "btn btn-info"%>
				</p>
			<% end %>
		</div>
	</div>
</div>
