<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 ml-3 mt-3">
			<h4>Post title: <strong><%= @post.post_title%></strong></h4><hr/>
			<%= @post.content %><br/>
			<%=link_to @programmer.name, programmer_path(@programmer.id), :style =>"color: #ff82f4" %><br/>
			<%= link_to 'Edit', edit_programmer_post_path(@programmer), :class => "btn btn-info"%>
			<%= link_to 'Delete', programmer_post_path(@programmer), :class => "btn btn-info",
			      method: :delete,
			      data: { confirm: 'Are you sure?' } %>

	<br>
	<br>

	<p> <b>Comments:</b> </p>
	<% @comments.each do |comment| %>
		<p><%= comment.commentContents %>
			<%= link_to 'Edit',  edit_post_comment_path(post_id: @post.id, id: comment), :class => "btn btn-info"%>
			<%= link_to 'Delete', post_comment_path(post_id: @post.id, id: comment), :class => "btn btn-info",
		      method: :delete,
		      data: { confirm: 'Are you sure?' } %>
	  </p>
	<% end %>

	<%= form_with scope: :comment, url: programmer_post_comments_path(programmer_id: @programmer.id, post_id: @post.id), local: true do |form| %>
		<p>
			<br>
			<b><%= form.label :Add_new_comments_below %>:</b>
			<br>
			<%= form.text_area :commentContents %>
		</p>
		<p>
			<%= form.hidden_field :post_id, value: @post.id %>
			<%= form.hidden_field :post_id, value: @programmer.id %>
		</p>
	 	<p>
			<%= form.submit :class => "btn btn-info"%>
		</p>
	<% end %>

	<%= link_to 'Back', posts_path,  :class => "btn btn-info" %>

		</div>
	</div>
</div>
