<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 ml-3 mt-3">
			<h4>Post title: <strong><%= @post.post_title%></strong></h4><hr/>
			<%= @post.content %><br/>
			<%= link_to 'Edit', edit_post_path, :class => "btn btn-info"%>
			<%= link_to 'Delete', post_path, :class => "btn btn-info",
			      method: :delete,
			      data: { confirm: 'Are you sure?' } %>



			<%= form_with scope: :comment, url: post_comments_path(post_id: @post.id), local: true do |form| %>
				<p>
					<%= form.label :commentContents %>
					<%= form.text_area :commentContents %>
				</p>
				<p>
					<%= form.hidden_field :post_id, value: @post.id %>
				</p>

			 	<p>
					<%= form.submit %>
				</p>
			<% end %>
		</div>
	</div>
</div>







