<h1>Post #<%= @post.id %></h1>
<h4>Post title: <strong><%= @post.post_title %></strong></h4>
<%= @post.content %>

<%= link_to 'Delete', post_path,
      method: :delete,
      data: { confirm: 'Are you sure?' } %>



<%= form_with scope: :comment, url: post_comments_path(post_id: @post.id), local: true do |form| %>
	<p>
		<%= form.label :commentContents %>
		<%= form.text_area :commentContents %>
	</p>
	<p>
		<%= form.hidden_field :post_id, value: @post.id %>
	</p>

 	<p>
		<%= form.submit %>
	</p>
<% end %>







